
.navbarSection{
   height:70px;
   background-color: white;
}
.logo{
   width:100px;
}
.account img {
   width:50px;
}
aside{
   /* width:20%; */
   background-color: white;
   height:100vh;
}
aside a{
   text-decoration: none;
   color: gray;
   gap:10px;
}
.headbar{
   width:100%;
   display:flex;
}
.addButton a{
   text-decoration: none;
   gap:10px;
}
.cardUser{
   width:15rem;
}
.miniCard{
   display:none;
}
.btn-next, .btn-prev{
   display:flex;
}

/* Break Point */
@media screen and (max-width: 425px) {
   .helloUser, .userName,.side {
     display:none;
   }
  .navbarSection{
     padding-left:25px;
     padding-right:25px;
  }
  .headBar{
     width:23rem;
     margin-bottom:2rem;
  }
  .cardWrapper,.pagination {
     display:none;
  }
  .btn-nav button{
     display:none;
  }
  .miniCard{
     display:block;
     width:23rem;
  }
 }